@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
body {

}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width : 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);
}
.container .card1 {
    padding: 40px 20px;
    padding-left: 35px;
    background-color: bisque;
    width: 100%;
    color: #313131;
}
.container .card1 .profile{
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #d8b9ab;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    background-image: url(pp.jpeg);
    background-size: cover;
}
.container .card1 .contact-box{
    margin-top: 10px;
}
.container .card1 .contact-box>*{
    width: 100%;
    display: grid;
    margin-top: 25px;
    align-items: center;
}
.container .card1 .contact-box>* .text{
    display: inline-flex;
    word-break: break-all;
}
.container .card1 .personal-box{
    margin-top: 35px;
}
.container .card1 .personal-box .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #313131;
    border-radius: 50%;
    margin-left: 4px;
}
.container .card1 .personal-box .dot.active{
    background-color: #a88270;
}
.container .card1 .hobbies-box{
    margin-top: 35px;
}
.container .card1 .hobbies-box .logo{
    margin: 10px 0px;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    font-size: 2.7em;
    gap: 20px;
}

.container .card2{
    background-color: #a88270;
    padding: 40px 20px;
    padding-right: 75px;
    color: beige;
}
.container .card2 .head-title{
    font-size: 2.1em;
    font-weight: 400;
    color: blanchedalmond;
}
.container .card2 .box {
    display: inline-block;
    padding: 2px 70px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: rgb(240, 215, 184);
    color: #916d5d;
}
.container .card2 .box .desc{
    margin-top: 15px;
    line-height: 1.5;
}
.container .card2 .desc{
    margin-top: 15px;
    margin-left: 20px;
}
.container .card2 .group2 .desc ul{
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}
.container .card2 .group2 .desc ul::before{
    content: "" ;
    position: absolute;
    top: 12px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: bisque;
}
.container .card2 .group2 .desc ul li{
    list-style-type: none;
    position: relative;
}
.container .card2 .group2 .desc ul li::before{
    content: "";
    position: absolute;
    top: 12px;
    left: -18px;
    height: 60px;
    border-left: 2px solid bisque;
}
.container .card2 .group2 .desc ul:last-of-type li::before{
    content: none;
}
.container .card2 .group2 .desc ul li 
div:last-of-type{
    color: white;
    font-weight: bold;
}
.container .card2 .group3 .desc{
    margin-top: 15px;
    margin-left: 20px;
}
.container .card2 .group3 .desc ul{
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}
.container .card2 .group3 .desc ul::before{
    content: "" ;
    position: absolute;
    top: 30px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: bisque;
}
.container .card2 .group3 .desc ul li{
    list-style-type: none;
    position: relative;
}
.container .card2 .group3 .desc ul li::before{
    content: "";
    position: absolute;
    top: 30px;
    left: -18px;
    height: 100px;
    border-left: 2px solid bisque;
}
.container .card2 .group3 .desc ul li 
div:nth-child(2) {
    color: white;
    font-weight: bold;
}
.container .card2 .group3 .desc ul:last-of-type li::before{
    content: none;
}
